/*Whole site*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}


/*BODY*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Bitter', sans-serif;
  line-height: 1.5;
  background: linear-gradient(270deg, #050d30, #003c8f, #0540f2, #5a3a96);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;
}

  
@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}






/*sections*/
.title {
  font-family: 'Oswald', cursive;
  font-size: 5rem;
  width: 100%;
  align-content: center;
  margin: 0.5rem 0 4rem 0;
}

p {
  text-align: justify;
  font-size: 1.3rem;
  font-family: 'Bitter', cursive;
}

.tablaz {
  margin: 1rem;
}

.foto img{
  margin: 1rem;
  padding-left: 0.5rem;
  max-width:90%;
}

td a{
  color: #fff;
}
td a:hover{
  color: #fff;
  text-decoration: none;
}

.fa-chevron-down{
 font-size: 2rem;
 color: #fff;
}

.white {
  color: #fff;
  min-height: 350px;
  padding: 2rem 0;
  margin: 2rem 0;}

  .white-contact {
    color: #fff;
    min-height: 350px;
    padding: 2rem 0;
    margin: 2rem 0;}


  .white2 {
    color: #fff;
    height: 350px;
    padding: auto;
    margin: 2rem 0 0;}

    .white21 {
      color: #fff;
      min-height: 210px;
      padding: auto;
      margin: 2rem 0 0;}



/*TO TOP BUTTON*/
.top {
  display: none;
  bottom: 0;
  right: 0;
  background: #003c8f;
  color: #fff;
  font-size: 3rem;
  border-radius: 50%;
  position: fixed;
  line-height: 1rem;
  margin: 1.5rem;
  z-index: 3;
}


.top:hover {
  background: #fff;
  color: #000;
}

.top2 {
  display: none;
}

/*footer*/
footer a:hover {
  text-decoration: none;
}

#footer p {
  background: none;
  color: #fff;
  padding:none;
  font-size: 0.85rem;
  margin: 0;
  text-align: center;
  font-family: 'Roboto', cursive;
}


#footer p:hover {
  font-weight: bold;

}
